body {
	background:url(../images/bg-body.png) repeat;
	color:#474747;
	font-family:tahoma;
	font-size:13px;
}

#mc_wrapper {
	width:960px;
	margin:0 auto;
}
#mc_head {
	width:960px;
	height:96px;
}
#mc_menu{
	width:960px;
	height:41px;
}
#mc_breadcrumb {
	width:960px;
	height:65px;
}
#mc_component {
	width:960px;
}

ul.mc_menu_horizontal {
	height:41px;
	width:100%;
	list-style-type:none;
	margin:0;padding:0;
	background:url(../images/bg-menu.png) no-repeat top left;
}
ul.mc_menu_horizontal li{
	list-style-type:none;
	float:left;
	padding:0;
	margin:0 30px;
	line-height:41px;
}
ul.mc_menu_horizontal li a{
	font-weight:bold;
	color:#fff;
}
#mc_banner{
	width:960px;
	height:380px;
	padding-bottom:12px;
	background:url(../images/bg-banner-margin.png) no-repeat bottom center;
}
.mc_banner_carousel {
	
}

#mc_topnews {
	width:960px;
	height:233px;
	padding-top:19px;
	border-bottom:1px dashed #0081dd;
}

#mc_topnews .mc_topnews_image img{
}
#mc_topnews .mc_topnews_title {
	padding:0;
	font-size:13px;
}
#mc_topnews .mc_topnews_title  a{
	color:#474747;
}
#mc_topnews .mc_topnews_title  h2{
	font-size:24px;
	margin:0 0 10px 0;
	font-weight:bold;
}
#mc_news {
	width:960px;
}
#mc_news a{
	color:#255aef;
}
#mc_news h2{
	font-weight:bold;
	
}
#mc_news .mc_news_content {
	font-size:13px;
}
#mc_news  .mc_news_content  h3{
	margin-top:0;
	font-size:14px;
}
#mc_news ul.mc_news_readmore{
	list-style:none;
}
#mc_news ul.mc_news_readmore li{
	background:url(../images/bg-news-bullet.png) no-repeat left center;
	padding-left:20px;
	line-height:20px;
}

#mc_partner {
	width:960px;
	height:233px;
	padding-top:19px;
	border-bottom:1px dashed #0081dd;
}
#mc_partner #mc_carousel {
	margin-bottom:45px;
}
#mc_footer {
	width:960px;
	height:142px;
	background:url(../images/bg-footer.png) repeat-x left top;
}
#mc_footer ul.mc_footer_items {
	list-style:none;
	color:#fff;
}
#mc_footer ul.mc_footer_items h3{
	font-size:16px;
	margin:2px 0;
	font-weight:bold;
}
#mc_footer ul.mc_footer_items li span{
	color:#000;
}

#mc_footer .copyright  p{
	padding:0;
	margin:10px;
	color:#fff;
}

#mc_footer  .mc_footer_address {
	height:94px;
	padding-top:2px;
}
#mc_footer  .mc_footer_social {
	height:46px;
}
#mc_footer  .mc_footer_social .social{
	padding-top:15px;
}

.mc_content .mc_content_item {
	border:1px solid #bebebe;
	height:154px;
	float:left;
	margin-bottom:15px;
}
.mc_content .mc_content_item_wrapper {
	margin:9px;
	width:682px;
}
.mc_content_item h1 {
	font-size:16px;
	margin-left:5px;
}
.mc_content_item a,.mc_content_item a:hover{
	text-decoration:none;
	color:#474747;
}
.mc_content_item h2 {
	font-size:12px;
	margin-left:5px;
	color:#474747;
	font-weight:bold;
}

ul.mc_advertise {
	list-style-type:none;
	padding:0;
	margin:0;
	width:230px;
}
ul.mc_advertise li{
	width:100%;
	margin-bottom:15px;
	border:1px solid #bebebe;
}
ul.mc_advertise a{
	text-decoration:none;
}
a.mc_content_item_image {
	
}
#mc_breadcrumb h2{
	font-size:16px;
	font-weight:bold;
}
#mc_breadcrumb a, #mc_breadcrumb a:hover{
	text-decoration:none;
	color:#474747;
}